# JoB Markert Analysis

## Importing Libraries

In [88]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Reading from csv file

In [2]:
jmarket = pd.read_csv("C:/Users/Lenovo/Desktop/A4-Main/Job_Market/job market.csv")

## Understanding dataset

In [5]:
jmarket.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True
1,1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1
2,2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1
3,3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1
4,4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True

In [6]:
jmarket.tail()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
2248,2248,RQS - IHHA - 201900004460 -1q Data Security An...,$78K-$104K (Glassdoor est.),Maintains systems to protect data from unautho...,2.5,"Avacend, Inc.\n2.5","Denver, CO","Alpharetta, GA",51 to 200 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,-1,-1
2249,2249,Senior Data Analyst (Corporate Audit),$78K-$104K (Glassdoor est.),Position:\nSenior Data Analyst (Corporate Audi...,2.9,Arrow Electronics\n2.9,"Centennial, CO","Centennial, CO",10000+ employees,1935,Company - Public,Wholesale,Business Services,$10+ billion (USD),"Avnet, Ingram Micro, Tech Data",-1
2250,2250,"Technical Business Analyst (SQL, Data analytic...",$78K-$104K (Glassdoor est.),"Title: Technical Business Analyst (SQL, Data a...",-1.0,Spiceorb,"Denver, CO",-1,-1,-1,-1,-1,-1,-1,-1,-1
2251,2251,"Data Analyst 3, Customer Experience",$78K-$104K (Glassdoor est.),Summary\n\nResponsible for working cross-funct...,3.1,Contingent Network Services\n3.1,"Centennial, CO","West Chester, OH",201 to 500 employees,1984,Company - Private,Enterprise Software & Network Solutions,Information Technology,$25 to $50 million (USD),-1,-1
2252,2252,Senior Quality Data Analyst,$78K-$104K (Glassdoor est.),"You.\n\nYou bring your body, mind, heart and s...",3.4,SCL Health\n3.4,"Broomfield, CO","Broomfield, CO",10000+ employees,1864,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),"Centura Health, HealthONE, Denver Health and H...",-1

In [10]:
jmarket.shape

(2253, 16)

In [8]:
jmarket.describe()

       Unnamed: 0       Rating      Founded
count   2253.0000  2253.000000  2253.000000
mean    1126.0000     3.160630  1398.522858
std      650.5294     1.665228   901.929251
min        0.0000    -1.000000    -1.000000
25%      563.0000     3.100000    -1.000000
50%     1126.0000     3.600000  1979.000000
75%     1689.0000     4.000000  2002.000000
max     2252.0000     5.000000  2019.000000

In [9]:
jmarket.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2253 entries, 0 to 2252
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         2253 non-null   int64
 1   Job Title          2253 non-null   object
 2   Salary Estimate    2253 non-null   object
 3   Job Description    2253 non-null   object
 4   Rating             2253 non-null   float64
 5   Company Name       2252 non-null   object
 6   Location           2253 non-null   object
 7   Headquarters       2253 non-null   object
 8   Size               2253 non-null   object
 9   Founded            2253 non-null   int64
 10  Type of ownership  2253 non-null   object
 11  Industry           2253 non-null   object
 12  Sector             2253 non-null   object
 13  Revenue            2253 non-null   object
 14  Competitors        2253 non-null   object
 15  Easy Apply         2253 non-null   object
dtypes: float64(1), int64(2), object(13)
memory usage: 281.8+ KB

In [12]:
# delete one by one like column is 'Unnamed: 0' so use it's name
# jmarket.drop('Unnamed: 0', axis=1, inplace=True)

#delete all Unnamed Columns in a single code of line using regex

jmarket.drop(jmarket.filter(regex="Unnamed"),axis=1, inplace=True)

In [17]:
jmarket.rename( columns={'Type of ownership':'Ownership'}, inplace=True )

In [18]:
jmarket.columns.values

array(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Easy Apply'], dtype=object)

In [30]:
jmarket[["Easy Apply","Headquarters"]]

     Easy Apply      Headquarters
0          True      New York, NY
1            -1      New York, NY
2            -1      New York, NY
3            -1        McLean, VA
4          True      New York, NY
...         ...               ...
2248         -1    Alpharetta, GA
2249         -1    Centennial, CO
2250         -1                -1
2251         -1  West Chester, OH
2252         -1    Broomfield, CO

[2253 rows x 2 columns]

In [31]:
jmarket.loc[1]

Job Title                                       Quality Data Analyst
Salary Estimate                           $37K-$66K (Glassdoor est.)
Job Description    Overview\n\nProvides analytical and technical ...
Rating                                                           3.8
Company Name                 Visiting Nurse Service of New York\n3.8
Location                                                New York, NY
Headquarters                                            New York, NY
Size                                                10000+ employees
Founded                                                         1893
Ownership                                     Nonprofit Organization
Industry                            Health Care Services & Hospitals
Sector                                                   Health Care
Revenue                                       $2 to $5 billion (USD)
Competitors                                                       -1
Easy Apply                                                        -1
Name: 1, dtype: object

In [34]:
jmarket.isnull().sum()

Job Title          0
Salary Estimate    0
Job Description    0
Rating             0
Company Name       1
Location           0
Headquarters       0
Size               0
Founded            0
Ownership          0
Industry           0
Sector             0
Revenue            0
Competitors        0
Easy Apply         0
dtype: int64

In [35]:
#find duplicate rows across all columns

duplicateRows = jmarket[jmarket.duplicated()]

In [38]:
duplicateRows.sum().sum()

0.0

In [44]:
jmarket.duplicated().sum()

0

In [64]:
jmarket.drop_duplicates(inplace=True)

# Analysis

In [ ]:
sns.catplot(data=jmarket, x="Sector", y="Revenue")